<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENU2</title>

    <link rel="stylesheet" href="../static/CSS/layout.css?ver=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,500&display=swap" rel="stylesheet">

    <style>
        body {
            font-family: 'Playfair Display', serif !important;
        }
        a:link{
            color: #f2f2f2;
            text-decoration: none;
        }
        a:visited{
            color: #f2f2f2;
            text-decoration: none;
        }
        a:hover{
            color: #ef4351;
        }
    </style>
</head>

<body>
    <div class = "header">
        <h1 id = "header">DEEP IMAGE MATTING</h1>
        <p>Gachon Univ. Software Graduation Project</p>
    </div>

    <div class = "topnav">
        <a href = "/home"> [ UPLOAD ]</a>
        <a href = "/composite"> [ COMPOSITION ] </a>
    </div>

    <div class = "main">
        <h2>IMAGE PREDICTION</h2>
        <hr>

        <form action="http://localhost:5000/filePredict" method="POST" enctype="multipart/form-data">
            <ul type="disc">
                <li><h4>Predict file</h4></li>
            </ul>
            &nbsp;&nbsp;&nbsp;&nbsp;<input  type="file" name="file"/>
            <input type="submit"/>
        </form>
    </div>

    <div class = "footer">
        <a href="https://github.com/Matting-Team/MattingProject/wiki"> >> More Information << </a>
        <h5>Copyright 2021. Gachon Univ. Dept of Software all rights reserved.</h5>
    </div>

    <script>
        window.onload = function(){
            var header = document.getElementById("header");
            header.onclick = function() {
                location.href = "/";
            }
        }

        function previewImage(targetObj, View_area) {
	    var preview = document.getElementById(View_area); //div id
	    var ua = window.navigator.userAgent;

      //ie일때(IE8 이하에서만 작동)
        if (ua.indexOf("MSIE") > -1) {
            targetObj.select();
            try {
                var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
                var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


                if (ie_preview_error) {
                    preview.removeChild(ie_preview_error); //error가 있으면 delete
                }

                var img = document.getElementById(View_area); //이미지가 뿌려질 곳

                //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
                img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
            } catch (e) {
                if (!document.getElementById("ie_preview_error_" + View_area)) {
                    var info = document.createElement("<p>");
                    info.id = "ie_preview_error_" + View_area;
                    info.innerHTML = e.name;
                    preview.insertBefore(info, null);
                }
            }
      //ie가 아닐때(크롬, 사파리, FF)
        } else {
            var files = targetObj.files;
            for ( var i = 0; i < files.length; i++) {
                var file = files[i];
                var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
                if (!file.type.match(imageType))
                    continue;
                var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
                if (prevImg) {
                    preview.removeChild(prevImg);
                }
                var img = document.createElement("img");
                img.id = "prev_" + View_area;
                img.classList.add("obj");
                img.file = file;
                img.style.width = 'auto';
                img.style.height = 'auto';
                img.onmousedown= function ()
                {
                    var x1=event.offsetX;
                    var y1=event.offsetY;
                    document.getElementById("x1").value=x1;
                    document.getElementById("y1").value=y1;
                };
                img.onmouseup=function()
                {
                    var x2=event.offsetX;
                    var y2=event.offsetY;
                    document.getElementById("x2").value = x2;
                    document.getElementById("y2").value = y2;
                };
                preview.appendChild(img);
                if (window.FileReader) { // FireFox, Chrome, Opera 확인.
                    var reader = new FileReader();
                    reader.onloadend = (function(aImg) {
                        return function(e) {
                            aImg.src = e.target.result;
                        };
                    })(img);
                    reader.readAsDataURL(file);
                } else { // safari is not supported FileReader
                    if (!document.getElementById("sfr_preview_error_"
                            + View_area)) {
                        var info = document.createElement("p");
                        info.id = "sfr_preview_error_" + View_area;
                        info.innerHTML = "not supported FileReader";
                        preview.insertBefore(info, null);
                        }
                    }
                }
            }
        }
    </script>
</body>
</html>